.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

@for $index from 1 through 12 {
    .column-#{$index} {
        width: ((100% / 12) * $index);
    }
}

[class^='column'] {
    padding: 0 15px;
}


