.nav {
    &-list {
        @include list-base;
    }
    &-item {
        display: inline-block;
        a {
            position: relative;
            display: block;
            padding: 0 20px;
            font: 700 13px $sans-droid;
            color: inherit;
            text-transform: uppercase;
            text-decoration: none;
            outline: none;

            &:before {
                content: '';
                display: block;
                position: absolute;
                left: 0;
                top: 50%;
                height: 1px;
                width: 0;
                background: transparent;
                @include transition(width 0.3s ease-in-out);
            }
            &:hover:before {
                background: $second-bg-color;
                width: 100%;
            }
        }
    }
}

