#popup {
    max-width: 600px;
    width: 100%;
    min-height: 350px;
    border-radius: 10px;
    background: $second-bg-color;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    z-index: 5;
    &.active {
        display: block;
    }

    .popup-header {
        background: $primary-bg-color;
        padding: 30px;
        color: $second-color;
        text-transform: uppercase;
        text-align: center;
        position: relative;
    }
    .popup-content {
        padding: 50px 50px 25px;
    }

    &-close {
        width: 30px;
        height: 30px;
        position: absolute;
        top: 33px;
        right: 30px;
        cursor: pointer;
        display: block;
        color: $second-color;
    }
    .link-popup {
        background: $color-light-grey;
        margin-bottom: 50px;
        text-decoration: none;
        display: inline-block;
        &:hover {
            background: darken( $color-light-grey, 10% )
        }
    }
}

#overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
    background: #000;
    opacity: 0.8;
    z-index: 3;
}
