@font-face {
    font-family: 'DroidSans';
    src: url('../fonts/DroidSans.eot?#iefix') format('embedded-opentype'),
    url('../fonts/DroidSans.woff') format('woff'),
    url('../fonts/DroidSans.ttf') format('truetype'),
    url('../fonts/DroidSans.svg#DroidSans') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'DroidSans';
    src: url('../fonts/DroidSans-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/DroidSans-Bold.woff') format('woff'),
    url('../fonts/DroidSans-Bold.ttf')  format('truetype'),
    url('../fonts/DroidSans-Bold.svg#DroidSans-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald-Heavy';
    src: url('../fonts/Oswald-Heavy.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Oswald-Heavy.woff') format('woff'),
    url('../fonts/Oswald-Heavy.ttf')  format('truetype'),
    url('../fonts/Oswald-Heavy.svg#Oswald-Heavy') format('svg');
    font-weight: 400;
    font-style: normal;
}

.heading-preview {
    margin-bottom: 90px;
    .title-preview {
        margin: 0 0 5px;
        padding: 0;
        font: 400 116px/1 $sans-heavy;
        color: $color-danger;
    }
    p {
        padding: 0;
        margin: 0;
        font: 400 80px/1 $cursive-vibes;
        color: $primary-color;
        text-align: center;
    }
}

.heading {
    margin-bottom: 39px;
    .title-section {
        margin: 0 0 5px 0;
        padding: 0;
        font: 400 32px/0.97 $serif-oswald;
        color: $primary-color;
        text-transform: uppercase;
    }
    p {
        margin: 0;
        padding: 0;
        font: 400 32px/0.97 $cursive-vibes;
        color: $color-danger;
    }
}

.introducing-section-slider {
    .card {
        .text-card {
            h5 {
                padding: 0;
                margin: 0 0 5px 0;
                font: 400 22px/0.97 $serif-oswald;
                color: $second-color;
            }

            p {
                padding: 0;
                margin: 0 0 25px 0;
                font: 400 16px/0.97 $sans-droid;
                color: $second-color;
            }
        }
    }
}

.section-posts {
    .title-post {
        padding: 0;
        margin: 0 0 5px 0;
        font: 500 32px/0.97 $serif-oswald;
        color: $second-color;
        text-transform: uppercase;
    }
    p {
        max-width: 556px;
        padding: 0;
        margin: 0 0 45px 0;
        font: 400 22px/0.97 $sans-droid;
        color: $second-color;
        span {
            font: 400 65px/0.97 $cursive-vibes;
        }
    }
}

.official-apps {
    &-title {
        padding: 0;
        margin: 0 0 9px 0;
        font: 500 32px/1.5 $serif-oswald;
        color: $second-color;
    }
    p {
        padding: 0;
        margin: 0 0 40px 0;
        font: 400 22px/1.4 $sans-droid;
        color: $second-color;
    }
}

.footer {
    p {
        margin: 0;
        padding: 0;
    }
}





