
.preview {
    display: flex;
    align-items: center;
    background: url('../img/rock-singer.jpg') center no-repeat;
    background-size: cover;
    min-height: 700px;
    padding: 103px 0 100px;
    position: relative;
    .container {
        text-align: center;
    }
    .timer {
        width: 100%;
        height: 3px;
        background: $timer-bg;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        &:before {
           content: '';
            display: block;
            width: 75%;
            height: 3px;
            background: $primary-bg-color;
        }
    }
}

.introducing-section {
    padding-top: 103px;
    .container {
        padding-bottom: 110px;
        border-bottom: 1px solid $color-light-grey;
    }
    .heading {
        margin-bottom: 0;
    }
    &-slider {
        .card {
            .container-img {
                position: relative;
                overflow: hidden;
            }
            img {
                display: block;
            }
            .text-card {
                padding: 17px 28px 26px 28px;
                background-color: $primary-bg-color;
                position: absolute;
                bottom: -50px;
                width: 100%;
                @include transition(bottom 0.3s ease-in-out);
                &:hover {
                    bottom: 0;
                }
            }
        }
    }
}

.upcoming-section {
    padding: 70px 0 100px;
    img {
        display: block;
    }
    .flex-wrap {
        display: flex;
        margin-bottom: 5px;
    }
    .poster {
        padding-left: 79px;
        flex-grow: 1;
        h3 {
            padding: 20px 0 0;
            margin:0 0 20px;
        }
        &-list {
            overflow: hidden;
            padding: 0;
            margin: 0 0 30px;
        }
        dt {
            float: left;
            clear: left;
            font: $sans-droid;
            margin-top: 0;
        }
        dd {
            font: $sans-droid;
            margin: 0 0 15px 60px;
            &:before {
                display: inline-block;
                margin: 0 5px;
                content: ":";
            }
        }
    }
}

.video-section {
    padding: 70px 0 100px;
    .heading {
        margin-bottom: 0;
    }
    .slide {
        .container-video {
            iframe {
                width: 100%;
            }
        }
    }
}

.section-posts {
    .text-wrap {
        background: #333333 url('../img/accordionist.png') right top no-repeat;
        background-size: cover;
        min-height: 370px;
        padding: 80px 0 80px 100px;
    }
}

.section-songs {
    padding-top: 104px;
    padding-bottom: 92px;
    .container-audio {
        iframe {
            margin-bottom: 30px;
        }
    }
    .play-list {
        margin: 0;
        padding: 0;
        list-style: inside decimal-leading-zero;
        column-count: 3;
        .song-item {
            padding:10px 0 14px;
            margin-right: 60px;
            border-bottom: 1px solid $color-light-grey;
        }
    }
}

.section-gallery {
    padding-top: 104px;
    padding-bottom: 92px;

    .container-img-gallery {
        margin-bottom: 30px;
        a {
            display: block;
        }
        img {
            display: block;
        }
    }
}

.official-apps {
    .container {
        background: $dark-bg-color url('../img/listener.png') center no-repeat;
        background-size: cover;
        min-height: 354px;
        padding: 80px 0;
        text-align: center;
    }
    ul {
        @include list-base;
        li {
            margin-right: 10px;
            display: inline-block;
            &:last-child {
                margin-right: 0;
            }
        }
    }
}

.section-newsletter {
    padding: 105px 0 70px;
}
