//Typography

$sans-droid: 'Droid Sans', sans-serif;
$sans-open: 'Open Sans', sans-serif;
$serif-oswald: 'Oswald', sans-serif;
$cursive-vibes: 'Great Vibes', cursive;
$sans-heavy: 'Oswald-Heavy', sans-serif;

//Colors

$primary-bg-color: #df001f;
$second-bg-color: white;
$dark-bg-color: #050708;
$scroll-bar-bg: #e9e9e9;
$timer-bg: #d3d3d3;

$primary-color: #333333;
$second-color: white;
$color-danger: #df001f;
$color-light-grey: #dfdfdf;
$color-dark: #282828;

